@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@model List<SistemaDeCadastro.Models.UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

@{
    // Método para obter o perfil do usuário atualmente logado
    string sessaoUsuario = Context.Session.GetString("sessaoUsuarioLogado");
    SistemaDeCadastro.Models.UsuarioModel usuarioLogado = null;

    if (!string.IsNullOrEmpty(sessaoUsuario))
    {
        usuarioLogado = JsonConvert.DeserializeObject<SistemaDeCadastro.Models.UsuarioModel>(sessaoUsuario);
    }
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" role="button">Adicionar novo usuário</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de usuários</h1>

    <table id="table-usuarios" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">IdPessoa</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Perfil</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.IdPessoa</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Perfil</td>
                        <td>@usuario.DataCadastro</td>
                        <td>

                            <div class="btn-group" role="group">
                                @if (usuarioLogado != null && (usuarioLogado.Perfil == SistemaDeCadastro.Enums.PerfilEnum.Administrador || usuarioLogado.Perfil == SistemaDeCadastro.Enums.PerfilEnum.Cadastro))
                                {
                                    <a role="button" class="btn btn-primary" asp-route-id="@usuario.IdPessoa" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                }
                                @if (usuarioLogado != null && usuarioLogado.Perfil == SistemaDeCadastro.Enums.PerfilEnum.Administrador)
                                {
                                    <a role="button" class="btn btn-danger" asp-route-id="@usuario.IdPessoa" asp-controller="Usuario" asp-action="ApagarConfirmacao">Apagar</a>
                                }
                            </div>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6">Nenhum usuário encontrado</td></tr>
            }
        </tbody>
    </table>
</div>
